<!-- <h3><%= JSON.stringify(statusFilter)%></h3> -->
<%
    const collection = 'article';
    const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
    const folderUpload = 'uploads/article/';
%>

<%- locals.flash %>
<% include ./../../helpers/sort %> 
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Search & Filter
                <a href="<%= linkPrefix %>">
                <span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="status-list col-sm-5 pl0">
                        <% include ./../../helpers/filter-status %>
                        <%- filterStatusHelper(linkPrefix,statusFilter,params.search) %>
                    </div>
                    <div class="col-sm-2">
                        <% include ./../../helpers/selectbox %>
                        <%- selectboxHelper('filter_category',categoryItems,params.categoryID) %>  <!-- lọc theo category -->
                    </div>
                    <div class="col-sm-5">
                        <form action="<%= linkPrefix %>status/<%= params.currentStatus %>" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search"
                                    placeholder="Search for..." value="<%= params.search %>">
                                <!-- <input type="hidden" value="all"> -->
                                <span class="input-group-btn">
                                <button class="btn btn-info" type="submit">Search</button>
                                </span>
                                <span class="input-group-btn">
                                <a class="btn btn-success" type="button"
                                    href="<%= linkPrefix %>status/<%= params.currentStatus %>">Clear</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                List Article
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
                    <% include ./../../helpers/action %>
                    <%- actionHelpers(collection)%>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="cbAll" />
                                    </th>
                                    <th>#</th>
                                    <%- sortHelper(collection,'Name','name',params.sortField,params.sortType,'width=20%') %> 
                                    <th style="width:15%;">Thumb</th>
                                    <%- sortHelper(collection,'Category','category.name',params.sortField,params.sortType) %>
                                    <%- sortHelper(collection,'Status','status',params.sortField,params.sortType) %>
                                    <%- sortHelper(collection,'Ordering','ordering',params.sortField,params.sortType) %>
                                    <!-- <th class="text-center pointer"><a href="#" class="title-col">Status 
                                        <i class="fa fa-sort"></i></a></th>
                                    <th class="text-center pointer"><a href="<%= linkPrefix %>sort/ordering/asc" class="title-col">Ordering 
                                        <i class="fa fa-sort-asc"></i></a></th> -->
                                   
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th style="width:15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% include ./../../helpers/source_by %>
                                <% include ./../../helpers/status %>
                                <% if(items.length > 0){ %> 
                                    <% items.forEach((item,index)=>{%>
                                    
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="cid"
                                                    value="<%= item.id %>" />
                                            </td>
                                            <td><%= index + 1 %></td>
                                            <td class="text-center pointer"><%= item.name %></td>
                                            <td >
                                               <% include ./../../helpers/image %> 
                                               <%- imageHelper(folderUpload,item.thumb,item.name)%>
                                            </td>
                                            <td class="text-center pointer"><%= item.category.name %></td> 
                                            <td class="text-center pointer"><%- statusHelper(linkPrefix,item.status,item.id) %></td>
                                            <td class="text-center pointer">
                                                <input type="number" value="<%= item.ordering %>" class="text-center ordering" >
                                            </td>
                                            <td><%- sourceByHelper(item.created.user_name,item.created.time) %> </td>
                                            <td> <%- sourceByHelper(item.modified.user_name,item.modified.time) %> </td>
                                            
                                            <td>
                                                <a href="<%= linkPrefix %>form/<%=item.id%>" type="button"
                                                    class="btn btn-warning btn-sm ">Edit</a>
                                                <a href="<%= linkPrefix %>delete/<%=item.id%>"
                                                    type="button"
                                                    class="btn btn-danger btn-sm btn-delete">Delete</a>
                                            </td>
                                        </tr>     
                                    <%})%>
                                <% }else{ %> 
                                    <tr>
                                        <td colspan="9"><h3>Không có dữ liệu</h3></td>
                                    </tr>
                                    <% } %> 
                                
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <% include ./../../helpers/pagination%>
        <%- paginationHelper(params.pagination,linkPrefix,params.currentStatus,params.search) %>

    </div>
</div>
